@import url('./reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    height: 100%;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    font-family: 'Pretendard';
    font-weight: 400;
  }

  input {
    outline: none;
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-Regular.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-Medium.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 600;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-SemiBold.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-Bold.woff') format('woff');
  }
}

@font-face {
  font-family: 'Cormorant';
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap') format('css2');
}

.swiper {
  width: 1450px;
  height: 450px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;

  border-radius: 50%;
  color: #0094ff !important;
}
.swiper-button-next {
  right: 10px; /* 오른쪽 위치 */
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

::-webkit-scrollbar {
  display: block;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #0094ff; /* 스크롤바 핸들의 배경 색상 (Violet) */
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #f1effd; /* 스크롤바 트랙의 배경 색상 */
}

.scrollbar-hide {
  scrollbar-gutter: stable both-edges;
}

/* 스크롤바 숨김 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 호버 시 스크롤바 표시 - WebKit 기반 브라우저용 */
.scrollbar-hide:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}

/* 호버 시 스크롤바 표시 - Firefox용 */
.scrollbar-hide:hover {
  scrollbar-width: auto;
}

/* 스크롤바 트랙 스타일 */
.scrollbar-hide::-webkit-scrollbar-track {
  background: #f1effd; /* 스크롤바 트랙의 배경 색상 */
}

/* 스크롤바 핸들 스타일 */
.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #0094ff; /* 스크롤바 핸들의 배경 색상 (Violet) */
  border-radius: 8px;
}

/* 호버 시 스크롤바 핸들 스타일 변경 */
.scrollbar-hide:hover::-webkit-scrollbar-thumb {
  background-color: #0094ff; /* 호버 시 스크롤바 핸들의 배경 색상을 어둡게 조정 */
}
