@import url('./reset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    height: 100%;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    font-family: 'Pretendard';
    font-weight: 400;
  }

  input {
    outline: none;
  }

  @layer utilities {
    .scale-85 {
      transform: scale(0.85);
      transform-origin: top;
    }
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-Regular.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-Medium.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 600;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-SemiBold.woff') format('woff');
  }

  @font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
    src: url('../../public/fonts/Pretendard-Bold.woff') format('woff');
  }
}

@font-face {
  font-family: 'Cormorant';
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap') format('css2');
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

.swiper {
  width: 1450px;
  height: 450px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;

  border-radius: 50%;
  color: #0094ff !important;
}
.swiper-button-next {
  right: 10px; /* 오른쪽 위치 */
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

::-webkit-scrollbar {
  display: block;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #0094ff; /* 스크롤바 핸들의 배경 색상 (Violet) */
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #f1effd; /* 스크롤바 트랙의 배경 색상 */
}

.scrollbar-hide {
  scrollbar-gutter: stable both-edges;
}

/* 스크롤바 숨김 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Make it transparent */
}

/* 호버 시 스크롤바 표시 - WebKit 기반 브라우저용 */
/* .scrollbar-hide:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
} */

/* 호버 시 스크롤바 표시 - Firefox용 */
.scrollbar-hide:hover {
  scrollbar-width: auto;
}

/* 스크롤바 트랙 스타일 */
.scrollbar-hide::-webkit-scrollbar-track {
  background: #f1effd; /* 스크롤바 트랙의 배경 색상 */
}

/* 스크롤바 핸들 스타일 */
.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #0094ff; /* 스크롤바 핸들의 배경 색상 (Violet) */
  border-radius: 8px;
}

/* 호버 시 스크롤바 핸들 스타일 변경 */
.scrollbar-hide:hover::-webkit-scrollbar-thumb {
  background-color: #0094ff; /* 호버 시 스크롤바 핸들의 배경 색상을 어둡게 조정 */
}

/* react-quill */

.quill {
  min-height: 170px !important;
  padding: 0 28px 18px 28px;
  width: 98% !important;
}

.ql-container {
  font-size: 16px !important;
  border: none !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
}

.ql-toolbar {
  border: none !important;
  display: flex;
  justify-content: flex-end;
}

.ql-size-huge {
  font-size: 32px !important;
}

.ql-size-large {
  font-size: 24px !important;
}

.ql-size-small {
  font-size: 14px !important;
}

#review-text a {
  color: #0094ff;
  text-decoration: underline;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
}
